# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data files
data/
*.csv

# Power BI files
*.pbix

# Logs and reports
*.log
*.pdf

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
